package templates

templ index() {
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Golang HTMX</title>
    <script src="https://unpkg.com/htmx.org@1.9.8"></script>
</head>

<body>
    <div hx-ext="ws" ws-connect="/ws">
    </div>
</body>

</html>
}