package components

templ Seat(isActive bool) {
	if isActive {
		<div id="seat" class="w-32 h-32 rounded-full bg-green-800"></div>
	} else {
		<button
			id="seat"
			hx-post="/sit"
			hx-swap="outerHTML"
			hx-target="#seat"
			class="w-32 h-32 rounded-full btn btn-info btn-circle btn-outline text-xl"
		>
			Sit
		</button>
	}
}
